.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.logo {
  display: flex;
  justify-content: space-between;
}
.logo h1 {
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-links a {
  color: #4d4d4d;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #4caf4f;
}

.navbar-btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #4caf4f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.navbar-btn:hover {
  background-color: #429545;
}

.navbar-arrow-icon {
  width: 20px; /* adjust size */
  height: auto;
}

.navbar-btn .navbar-arrow-icon {
  width: 30px;
  height: auto;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

/* Keep hover separate */
.navbar-btn:hover .navbar-arrow-icon {
  transform: translateX(5px);
}
/* Default: hide hamburger on desktop */
.hamburger {
  display: none;
}
/* Default: hide hamburger on desktop */
.close-btn {
  display: none;
}
/* Tablet & smaller screens */
@media (max-width: 1024px) {
  .navbar {
    padding: 0 30px;
  }

  .nav-links {
    gap: 20px; /* reduce gap between links */
  }

  .navbar-btn {
    padding: 10px 20px; /* smaller button */
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none; /* hidden by default */
    gap: 15px;
  }

  .nav-links.open {
    display: flex; /* show links when hamburger is clicked */
  }
  .close-btn {
    align-self: flex;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }

  .navbar-btn {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}
